body {
    background-image: url("Fondo.jpg");
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }